@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black';
}

body {
    font-family: Arial, sans-serif;
    background-color: #474646 ;
    height: 150vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    background-color: #474646 ;
    color: #f7f3f3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #059212;
    text-align: center;
    padding: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.header h2 {
    margin: 0;
    font-size: 1.2em;
    color: #aaa;
}

.teams {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #222;
    width: 100%;
    height: 240px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}
.contador p{
    font-size: 70px;
}
.placar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: #474646;
}
.container_left{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.container_left span{
    font-size: 16em
}
.container_left img{
    width: 350px;
    height: 350px;
}
.container_middle span{
    font-size: 14em
}

.container_right{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.container_right img{
    width: 350px;
    height: 350px;
}

.container_right span{
    font-size: 16em
}


.team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.team-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 3.9em;
}

.gols-jogador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 100px;
    background-color: #222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid #fff;
}
.gols-flu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 2px solid #fff;
}
.gols-flu h2{
    margin-left: 10px;
}
.contador{
    background-color: white;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
}
#jogadores-gol-flu{
    display: flex;
    align-items: start;
    font-size: 20px;
    gap: 10px;
    font-weight: bold;
    flex-direction: column;
    width: 80%;
    height: 80%;
    list-style: none;
}
#jogadores-gol-flu li{
    margin-top: 10px;
    font-size: 26px;
}
#jogadores-gol-flu li:last-child{
    margin-bottom: 20px;
}
#jogadores-gol-time2{
    display: flex;
    align-items: start;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    width: 80%;
    height: 80%;
    list-style: none;
}
#jogadores-gol-time2 li{
    margin-top: 10px;
    font-size: 26px;
}
.gols-time2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.gols-time2 h2{
    margin-left: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #059212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#title{
    background-color: #1F16B9;
}
.propaganda{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: flexbox;  
}

.video-jogador{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.jogador-video{
    width: 90%;
    height: 90%;
    display: none;
}